$blue: #19B5F1;
$purple: #CA6AEB;

$black_100: #18181B;
$black_50: #252532;
$grey_1: #B0B0B2;
$grey_2: #D1D1D1;

$success-alert: #00C566;
$error-alert: #FF4747;
$warning-alert: #FACC15;

$linearBackground: linear-gradient(90.00deg, rgb(12, 186, 241),rgb(233, 92, 233) 100%);


$laptop: 1440px;
$tablet: 768px;
$mobile: 420px;

$transition: all 0.5s ease-in-out;